# THIS IS ONLY FOR THE gitattributes REPOSITORY.
# Handle line endings automatically for files detected as text
# and leave all files detected as binary untouched.
# https://rehansaeed.com/gitattributes-best-practices/
# https://github.com/alexkaratarakis/gitattributes/blob/master/.gitattributes

# Attribute definitions (from https://github.com/DandelionSprout/adfilt/blob/master/.gitattributes)
# https://github.com/github/linguist/blob/master/lib/linguist/languages.yml
[attr]adb      linguist-detectable linguist-language=AdBlock
[attr]md       -linguist-detectable linguist-language=Markdown
[attr]attrib   -linguist-detectable linguist-language=gitattributes

# Set default behaviour to automatically normalize line endings.
*               text=auto

#
# The above will handle all files NOT found below
#

# These files are text and should be normalized (Convert crlf => lf)
*.gitattributes text
.gitignore      text
*.md            text diff=markdown
*.txt           text eol=lf

# Exclude files from exporting
.gitattributes  export-ignore
.gitignore      export-ignore

# Enable syntax highlighting for files with `.gitattributes` extensions.
*.gitattributes attrib

# Enable syntax highlighting for files with `.txt` extensions.
*.txt           adb

*.md            md

*.js            -linguist-detectable
