# THIS IS ONLY FOR THE gitattributes REPOSITORY.
# Handle line endings automatically for files detected as text
# and leave all files detected as binary untouched.
# https://rehansaeed.com/gitattributes-best-practices/
# https://github.com/alexkaratarakis/gitattributes/blob/master/.gitattributes

# Attribute definitions (from https://github.com/DandelionSprout/adfilt/blob/master/.gitattributes)
# https://github.com/github-linguist/linguist/blob/master/lib/linguist/languages.yml#L230
[attr]adb             linguist-language=AdBlock linguist-detectable
# https://github.com/github-linguist/linguist/blob/master/lib/linguist/languages.yml#L4077
[attr]pandoc          linguist-language=Markdown -linguist-detectable
# https://github.com/github-linguist/linguist/blob/master/lib/linguist/languages.yml#L2382
[attr]gitattributes   linguist-language=gitattributes -linguist-detectable
# https://github.com/github-linguist/linguist/blob/master/lib/linguist/languages.yml#L3323
[attr]js              -linguist-detectable

# Handle line endings automatically for files detected as text
*               text=auto


# hosts file always be normalized on checkin.
hosts           text

#
# The above will handle all files NOT found below
#

# These files are text and should be normalized (Convert crlf => lf)
*.gitattributes text
.gitignore      text
*.md            text pandoc diff=markdown
*.txt           text adb
*.js            text js

# Enable syntax highlighting for files with `.gitattributes` extensions.
*.gitattributes linguist-language=gitattributes linguist-detectable -linguist-documentation

# Exclude files from exporting
.gitattributes  export-ignore
.gitignore      export-ignore
