[submodule "FacebookZuckestionKiller"]
	path = common_utils/lists/✗to_block/per_sites/
	url = https://github.com/kowith337/PersonalFilterListCollection/blob/master/filterlist/facebook/FacebookZuckestionKiller.txt
