[submodule "FacebookZuckestionKiller"]
	path = FacebookZuckestionKiller
	url = https://raw.githubusercontent.com/kowith337/PersonalFilterListCollection/master/filterlist/facebook/FacebookZuckestionKiller.txt
